<!DOCTYPE html>
<html lang="en">
    <style>
        body {
            background-color: pink;
        }

        h1 {
            color: white;
            text-align: center;
            font-size: 50px;
        }

        p {
            font-family: verdana;
            color: white;
            font-size: 30px;
            text-align: left;
        }

        .Paragraph{
            text-align: center;
        }

        .Password {
            text-align: center;
            font-size: 50px;
        }
    </style>
    <head>
        <title>
            Password Generator
        </title>
    </head>
<body>
    <h1>
        <br>
        Welcome to Password Generator
        <br>
        <br>
        <br>
    </h1>
    <p class="Paragraph">
        Your Password is:
    </p>
    <p  class="Password">
        <br>
        {{ password }}
    </p>
</body>
</html>
